/* Carrusel radiobutton */
input[type="radio"] {
  display:none;
}

.option-label {
  padding: 2em;
  display: inline-block;
  border: 1px solid var(--light-gray);
  cursor: pointer;
}

.blank-label {
  display: none;
}

input[type="radio"]:checked + .option-label {
  background: #4346E1;
  border-color: #4346E1;
  color: #fff;
}
/* -------Carrusel-------- */

.main-carousel .main-container {
	display: flex;
	align-items: center;
	position: relative;
}

.main-carousel .main-container .arrow-left,
.main-carousel .main-container .arrow-right {
	position: absolute;
	font-size: 18px;
	top: 40%;
	line-height: 20px;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
  text-align: center;
	transition: .2s ease all;
	z-index: 10;
}

.main-carousel .main-container .arrow-left:hover,
.main-carousel .main-container .arrow-right:hover {
  background: rgba(0,0,0, .9);
  color: #ffffff !important;
}

.main-carousel .main-container .arrow-left {
	left: -33px;
}

.main-carousel .main-container .arrow-right {
	right: -40px;
}
 
.main-carousel .container-carousel {
	width: 100%;
	padding: 20px 0;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

.container-carousel::-webkit-scrollbar-track
{
  background-color: #f5f5f5;
  border-radius: 5px;
}

.container-carousel::-webkit-scrollbar
{
	height: 5px;
}

.container-carousel::-webkit-scrollbar-thumb
{
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.main-carousel .container-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.main-carousel .container-carousel .carousel .optionItem {
	min-width: 20%;
	transition: .3s ease all;
}

/* End Carrusel radiobutton */